
body{
  background: #fcf8f7;
}

/* @Media(max-width: 700px){
  .disappear{
    display: none;
  }
  .menu{
   display: flex;
   color: white;
   align-self: auto;
   justify-content: center;
}
.middleWords{
  font-size: 1em;
  color: white;
  text-align: center;
}
.bigMiddleWords{
  font-size: 1.5em;
}
.backgroundImg{
  height: 50px;
  width: 35px;
  object-fit: fill;
}
.seeingIfThisWorks{
  height: 120px;
  width: 70px;
  font-size: 1.05em;
  color:white;
  position: absolute;
  align-content: center;
  top: 140;
  left: 40;
  background: black;
  padding: 5px;
  border-radius: 13%;
  margin-top: 57px;
}

} */